Repository bitrich-info/xchange-stream, pull requests merged in 2019-06, with the labels that each got.

#275 Add streaming order book support for CEX.IO
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/CexioAdapters.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/CexioDigest.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/CexioOrder.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/CexioStreamingExchange.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/CexioStreamingMarketDataService.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/CexioStreamingRawService.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketAuth.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketAuthMessage.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketAuthResponse.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketData.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketOrder.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketOrderBookSubscribeResponse.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketOrderBookSubscriptionData.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketOrderMessage.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketPair.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketPongMessage.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketSubscriptionRequest.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketTransaction.java
  xchange-cexio/src/main/java/info/bitrich/xchangestream/cexio/dto/CexioWebSocketTransactionMessage.java
  xchange-cexio/src/test/java/info/bitrich/xchangestream/cexio/CexioAdaptersTest.java
  xchange-cexio/src/test/java/info/bitrich/xchangestream/cexio/CexioManualExample.java
  xchange-cexio/src/test/java/info/bitrich/xchangestream/cexio/CexioProperties.java
  xchange-cexio/src/test/java/info/bitrich/xchangestream/cexio/CexioStreamingServiceTest.java
Labels: new exchange

#333 [BITMEX] bug fix for using REST API in XChange TradeService
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexStreamingExchange.java
Labels: bitmex_delayed

#334 Remove superfluous retry logic for binance depth subscription
  xchange-binance/src/main/java/info/bitrich/xchangestream/binance/BinanceStreamingMarketDataService.java
Labels: bug-fix

#329 Bitmex misc merge
  xchange-bitmex/bitmex.secret.keys.origin
  xchange-bitmex/pom.xml
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexAuthenticator.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexStreamingExchange.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexStreamingMarketDataService.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexStreamingService.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexStreamingTradeService.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexTestStreamingExchange.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexExecution.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexFunding.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexOrder.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexTicker.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexWebSocketSubscriptionMessage.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexWebSocketTransaction.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexAuthenticatedExample.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexDeadManSwitchTest.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexManualExample.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexOrderIT.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexOrderReplaceTest.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexStreamingTest.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexTest.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexTestsCommons.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexWithProxyIT.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/dto/BitmexExecutionTest.java
  xchange-bitmex/src/test/resources/info/bitrich/xchangestream/bitmex/dto/execution-spec.json
  xchange-bitmex/src/test/resources/info/bitrich/xchangestream/bitmex/dto/execution.json
  xchange-bitmex/src/test/resources/info/bitrich/xchangestream/bitmex/dto/position.json
  xchange-stream-core/src/main/java/info/bitrich/xchangestream/core/StreamingExchange.java
Labels: awaiting_fixes, bitmex_delayed

#244 [BitMex] Restore the Bitmex Execution reports code which was cut out of #191.
  xchange-bitmex/bitmex.secret.keys.origin
  xchange-bitmex/pom.xml
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexStreamingExchange.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexStreamingMarketDataService.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexStreamingService.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/BitmexTestStreamingExchange.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexExecution.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexWebSocketSubscriptionMessage.java
  xchange-bitmex/src/main/java/info/bitrich/xchangestream/bitmex/dto/BitmexWebSocketTransaction.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexAuthenticatedExample.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexDeadManSwitchTest.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexManualExample.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexOrderIT.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexOrderReplaceTest.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexStreamingTest.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexTest.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexTestsCommons.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/BitmexWithProxyIT.java
  xchange-bitmex/src/test/java/info/bitrich/xchangestream/bitmex/dto/BitmexExecutionTest.java
  xchange-bitmex/src/test/resources/info/bitrich/xchangestream/bitmex/dto/execution-spec.json
  xchange-bitmex/src/test/resources/info/bitrich/xchangestream/bitmex/dto/execution.json
  xchange-bitmex/src/test/resources/info/bitrich/xchangestream/bitmex/dto/position.json
Labels: bitmex_delayed, duplicate

#336 Bump XChange 4.3.19 (inc fixes)
  pom.xml
  xchange-coinbasepro/src/main/java/info/bitrich/xchangestream/coinbasepro/dto/CoinbaseProWebSocketTransaction.java
Labels: dependencies

#337 Update exchange support table
  README.md
Labels: documentation

#335 Add Orko to open source projects list
  README.md
Labels: documentation
